// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1450A3;
$yellow: #edaa0c;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #191D88;
$light-blue: #337CCF;
