.map {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.button-container {
  display: flex;
  gap: 10px;
  /* Add some space between buttons */
  align-items: center;
  /* Align buttons vertically */
}
