// .map {
//   height: 350px;
//   background-position: center;
//   background-size: cover;
// }
h5{
  color: bisque;
}
h3{
  color: bisque;
  size: 10px;
}
p{
  color: bisque;
  size: 60px;
}
h1{
  color: bisque;
}
body{
  float: top;
}
.bookings_class{
  color: bisque;
}
