.map {
  height: 350px;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}
.button-container {
  display: flex;
  gap: 10px;
  /* Add some space between buttons */
  align-items: center;
  /* Align buttons vertically */
}
.info-booking {
  display: flex;
  justify-content: space-between;
}
.container {
  margin-top: 30px;
}
