
body {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
  color: white;
  background-color: white;
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 0;
  /* Remove top and bottom padding */
  height: 100vh;
  /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  color: rgb(245, 227, 179);
  text-align: center;
  font-size: 40px;
  font-family: Georgia, serif;
  padding-top: 100px;
  text-shadow: 2px 2px black;
}
h4 {
  color: wheat;
  text-align: center;
  font-size: 40px;
  font-family: Georgia, serif;
  text-shadow: 2px 2px black;
}

.btn_all {
  background-color: #192a7f;
  border: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  /* Increase vertical margin for buttons */
  cursor: pointer;
  border-radius: 10px;
  /* Add border-radius for slight rounding */
}
