
body {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
  background-color: white;

  background-position: center;
  background-size: cover;
 }

h3 {
  color: rgb(245, 227, 179);
  text-align: center;
  font-size: 40px;
  font-family: Georgia, serif;
  padding-top: 100px;
  text-shadow: 2px 2px black;
}
h4 {
  color: wheat;
  text-align: center;
  font-size: 40px;
  font-family: Georgia, serif;
  text-shadow: 2px 2px black;
}

.btn_all {
  background-color: #192a7f;
  border: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
