
body {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
  background-color: white;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
 }

h3 {
  color: rgb(245, 227, 179);
  text-align: center;
  font-size: 20px;
  font-family: Georgia, serif;
  padding-top: 100px;
}
h4 {
  color: wheat;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, serif;
}
.extras{
  color: wheat;
  padding-top: 300px;
}
.btn_all {
  background-color: #0f21de;
  border: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
