<h1>Hello from booking</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <table style="width:100%">
        <tr>
          <th>Id</th>
          <th>User</th>
          <th>Booking</th>
        </tr>
        <% @bookings.each do |booking| %>
          <tr>
            <td> <%= booking.user.id %></td>
            <td> <%= booking.user.username %> </td>
          </tr>
          <%# <p>Current user: <%= current_user.id %>
        <% end %>
      </table>

      <%= link_to "Refresh", "#", class: "btn btn-booking" %>
    </div>
  </div>
</div>
