<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg);">
  <div class="container">
    <h1>Choose your next home &#127984; </h1>
    <p>We provide experience, not just a roof &#127764;</p>

    <%= link_to "Sign In", new_user_session_path, class: "btn btn-flat" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
    <%= link_to "View All Our Offer!",flats_path, class: "btn btn-flat" %>
  </div>
</div>
