
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg');">

  <div class="container">
    <h1>Choose your next home! </h1>
    <h1>We provide experience, not just a roof. </h1>
        <% if user_signed_in? %>
          <%= link_to "View All Our Offers",flats_path, class:"btn_all" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path,class:"btn_all" %>
          <%= link_to "Sign Up", new_user_registration_path,class:"btn_all" %>
          <%= link_to "View All Our Offers",flats_path, class:"btn_all" %>
        <% end %>
  </div>
</div>
