table, th, td {
  border: 1px solid black;
}

th, td {
  text-align: center;
}

table {
  width: 100%;
}

.table-position {
  margin-top: 100px;
  margin-bottom: 15px;
}

tbody td {
  background-color: rgba(255,255,255,0);
  transition: all 0.2s linear;
  transition-delay: 0.3s, 0s;
  opacity: 0.6;
}
tbody tr:hover td {
  background-color: rgba(255,255,255,1);
  transition-delay: 0s, 0s;
  opacity: 1;
  font-size: 2em;
}

td {
  transform-origin: center left;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
tr:hover td {
  transform: scale(1.1);
}

th, td {
  padding: 0.5em;
  text-align: center;
}
